[credential]
    helper = cache
[user]
    email = ivarsson.sebastian@gmail.com
    name = Sebastian Ivarsson
[push]
    default = simple
[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
    excludesfile = ~/.gitignore
	editor = /usr/bin/vim
[color]
    ui = auto
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[alias]
    reset-date = !git commit --amend --no-edit --date=\"$(date -R)\"
    logg = log --graph --oneline
    amend = commit --amend

    in = log ..@{upstream}
    out = log @{upstream}..
    in-master = log ..origin/master --stat
    out-master = log origin/master..
    push-for-master = push origin HEAD:refs/for/master
    rebase-master = rebase -i origin/master
    rbc = rebase --continue
    rbm = rebase -i origin/master

    statsu = status
