[credential]
    helper = cache
[user]
    email = ivarsson.sebastian@gmail.com
    name = Sebastian Ivarsson
[push]
    default = simple
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
    excludesfile = ~/.gitignore
[color]
    ui = auto
[alias]
    in = log ..origin
    out = log origin..
    in-master = log ..origin/master
    out-master = log origin/master..
    reset-date = !git commit --amend --no-edit --date=\"$(date -R)\"
